Makefile.in
Makefile.libs
.libs
*.bak
*.out
*.txt
tmpl
xml
html
html-build.stamp
html.stamp
zif-docs.xml
zif.args
zif.hierarchy
zif.interfaces
zif.prerequisites
zif.signals
zif.types
scan-build.stamp
sgml-build.stamp
sgml.stamp
tmpl-build.stamp
tmpl.stamp
version.xml
